.previewBox {
  width: 220px;
  height: 220px;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}

.previewImage {
  display: block;
  margin: auto;
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
}
